/* header */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr ;
  grid-template-rows: auto 1fr auto auto 50px;
  grid-template-areas: 
  "header header header header"
  ". image tab ."
  ". . . article"
  ". good . ."
  "footer footer footer footer";

}
header {
  background-color: #001e1f;
  grid-area: header;

}

h1 {
  color: #38a5a8;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

blockquote {
  color: #b0fcff;
  padding: 20px 10%;
  width: 50%;
  margin-left: 50%;
}
/*  Section tab_img */

table {
  grid-area: tab;
  justify-self:center;
  align-self: center;
}

.tab_img {
  width: 250px;
  margin: 80px;
  border-radius: 50px;
  grid-area: image;
}

tr:nth-child(odd) {
  /* impair */
  background: grey;
}

.sub {
  margin-left: 20px;
}

article {
  grid-area: article;
  justify-self:center;
  align-self: center;
}

article h3 {
  font-size: 25px;
  color: #38a5a8;
  margin-bottom: 10px;
}

.good_man {
  margin-top: 100px;
  text-align: center;
  grid-area: good;
}

.good_man h3 {
  font-size: 25px;
  color: #38a5a8;
}

.good_man p {
  margin-top: 20px;
  font-style: italic;
  margin-bottom: 50px;
}
/* footer */
footer {
  background-color: #001e1f;
  text-align: center;
  padding: 20px;
  grid-area: footer;
}

footer p a {
  color: #38a5a8;
  text-decoration: none;
}
